body {
	padding-top: 50px;
	padding-bottom: 20px;
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
}

ul.nav {
	font-size: 13px;
}

footer {    
    padding-top: 30px;
    text-align: center;  
}

#get-involved-con {
    background-color: #f5f5f5;
}

#top-logo {
	width: 70px;
	height: 30px;
}

#footer-img {
    width: 100px;
    height: 40px;    
}

#footer-img-1 {
    width: 200px;
    height: 110px;    
}

#footer-img-2 {
    width: 150px;
    height: 80px;    
}

#footer-img-3 {
    width: 180px;
    height: 70px;    
}

#footer-img-4 {
    width: 140px;
    height: 60px;    
}

#footer-img-5 {
    width: 240px;
    height: 110px;    
}

.jumbotron {
	text-align: center;
	background-image: url('../images/city.jpg');
	color: white;
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

.btn-lg {
	font-size: 36px;
}

.homepage {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.homepage h2, .homepage h3 {
    font-family: 'Arvo', courier, serif;
    color: #e74c3c;
    text-transform: uppercase;
}

.homepage h2 {    
    font-size: 30px;
}

.homepage h3 {
    font-size: 26px;
}

.homepage p {
    font-weight: 300;
    font-size: 21px;
}

.homepage a {
    color: #e74c3c;
}

.homepage a:hover {
    text-decoration: none;
    color: #e743c3;
    opacity: .8;
}

.homepage hr {
    border-top: 1px solid #e74c3c;
    width: 160px;
    margin-top: 15px;
}

.footer-img {

}


/**
 * START: Responsive Styling for Medium Devices
 */

@media (max-width: 1199px) {

    .jumbotron h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    
}

/**
 * END: Responsive Styling for Medium Devices
 */


/**
 * START: Responsive Styling for Small Devices
 */

@media (max-width: 991px) {

    .jumbotron h1 {
        font-size: 40px;        
    }
    
    .jumbotron p {
        padding: 0 10px;
    }

    #get-involved-con .col-md-4 {
    	padding-top: 20px;
    	padding-bottom: 30px;
    }

}

/**
 * START: Responsive Styling for Small Devices
 */


/**
 * START: Responsive Styling for Extra Small Devices
 */

@media (max-width: 767px) {

    .jumbotron h1 {
        font-size: 27px;        
    }
    
    .jumbotron p {
    	font-size: 16px;
        padding: 0 10px;
    }

    .btn-lg {
    	font-size: 17px;
    }

    .homepage p {
    	font-size: 16px;
    	padding: 0 50px;
    }
}

/**
 * START: Responsive Styling for Extra Small Devices
 */